@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);

.stars input
{
    display: none;
}

input.bar:checked ~ main
{
    padding: 10px;
}

img:hover
{
    -webkit-transition-duration: .7s;
    -o-transition-duration: .7s;
    -ms-transition-duration: .7s;
    transition-duration: .7s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

label.list::before
{
    display: inline-block;
    padding: 10px;
}

input.list:checked ~ main header
{
    display: inline-block;
    width: 300px;
}

input.list:checked ~ main section
{
    margin-top: 40px;
    width: 100%;
    display: block;
}

input.list:checked ~ main article,
footer
{
    height: inherit;
    text-align: center;
    display: inline-block;
    padding: 0;
}

input.list:checked ~ main footer
{
    word-wrap: break-word;
    padding-top: 10px;
    display: inline-block;
}

input.list:checked ~ main img
{
    max-width: 300px;
    display: inline-block;
}

label.bar::before
{
    display: inline-block;
    padding: 10px;
    content: url(gallery.png);
}

input.bar:checked ~ main section
{
    -o-box-shadow: 2px 2px 5px #888;
    -ms-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
    vertical-align: top;
    height: inherit;
    position: relative;
    text-align: center;
    width: 250px;
    display: inline-block;
}

input.bar:checked ~ main img
{
    width: 100%;
    display: block;
}

.stars
{
    display: inline-block;
    border: 0;
}

.stars label
{
    float: right;
}

.stars label:before
{
    display: inline-block;
    font-size: 24px;
    padding: 5px;
    margin: 0;
    font-family: FontAwesome;
    content: '\f005';
}

.stars .half:before
{
    content: '\f089';
    position: absolute;
    padding-right: 0;
}

div input:checked ~ label,
div label:hover,
div label:hover ~ label
{
    color: #fe7;
}

footer
{
    display: block;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

a,
footer
{
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

.bar:checked ~ main section:hover
{
    -webkit-transition-duration: .7s;
    -o-transition-duration: .7s;
    transition-duration: .7s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

input.list:checked ~ main section:hover
{
    -webkit-box-shadow: 0 0 5px 5px #ddd;
    box-shadow: 0 0 5px 5px #ddd;
    text-shadow: 1px 1px 2px;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}

section
{
    border: 2px solid #5d4037;
    margin-bottom: 5px;
}

input.bar:checked ~ main section
{
    display: inline-block;
    width: 260px;
    margin: 10px;
}

input.list:checked ~ main section
{
    display: block;
}

.old-price
{
    font-size: 24px;
    color: #757575;
    text-decoration: line-through;
}

.now-price
{
    font-size: 36px;
}

img
{
    text-align: center;
    height: 250px;
}
